## Install the following dependicies:
- sqlalchemy 
- sqlalchemy-utils
- load_dotenv

In [1]:
!pip install sqlalchemy
!pip install sqlalchemy-utils
!pip install load_dotenv

Requirement already satisfied: sqlalchemy in c:\users\ramra\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ramra\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: sqlalchemy-utils in c:\users\ramra\anaconda3\lib\site-packages (0.38.3)
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\ramra\anaconda3\lib\site-packages (from sqlalchemy-utils) (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ramra\anaconda3\lib\site-packages (from SQLAlchemy>=1.3->sqlalchemy-utils) (1.0.0)
Requirement already satisfied: load_dotenv in c:\users\ramra\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: python-dotenv in c:\users\ramra\anaconda3\lib\site-packages (from load_dotenv) (0.21.0)

In [2]:
import os
from dotenv import load_dotenv
from pathlib import Path

env_path = Path('..') / '.env'

load_dotenv(dotenv_path=env_path)

True

In [3]:
# Add env config for MySQL database without quotes
DB_USED = os.environ.get('DB_USED')
DB_USER = os.environ.get('DB_USER')
DB_PASS = os.environ.get('DB_PASS')
DB_HOST = os.environ.get('DB_HOST')
DB_NAME = os.environ.get('DB_NAME')
DB_PORT = os.environ.get('DB_PORT')
DB_NAME

'coding_assignment'

In [4]:
import numpy as np
import pandas as pd
# Using create_engine to connect to database
from sqlalchemy import create_engine
# Using utils to check if database exist and if not exist create a database with name provided
from sqlalchemy_utils import database_exists, create_database

In [5]:
# Creating connection to database
databaseUsed = DB_USED 
dbUser = DB_USER 
dbPass = DB_PASS 
host = DB_HOST
dbName = DB_NAME
port = DB_PORT 

engine = create_engine(f'{databaseUsed}+pymysql://{dbUser}:{dbPass}@{host}/{dbName}', echo=False,)

# Prints if database is created or not
print(database_exists(engine.url))

# If database is not created then create a database 
if not database_exists(engine.url):
    create_database(engine.url)

# Prints if database is created or not
print(database_exists(engine.url))

False
True

In [6]:
df = pd.read_csv('greenhouse_gas_inventory_data_data.csv')

In [7]:
df

,country_or_area,year,value,category
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...
...,...,...,...,...
8401,United States of America,1994,593.222570,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8402,United States of America,1993,586.939752,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8403,United States of America,1992,574.414624,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8404,United States of America,1991,566.900968,unspecified_mix_of_hydrofluorocarbons_hfcs_and...
8405,United States of America,1990,293.205663,unspecified_mix_of_hydrofluorocarbons_hfcs_and...

In [8]:
print(df['category'].unique())

['carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent'
 'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent'
 'greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent'
 'hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent'
 'methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent'
 'nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent'
 'nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent'
 'perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent'
 'sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent'
 'unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent']

In [9]:
# Copying original data in new_df variable
new_df = df.copy(deep=True)

In [10]:
# Making dictionary with all the gases and their short form
gases = {
    'carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'CO2',
    'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent':'GHG-CO2',
    'greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'GHG',
    'hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent':'HFC',
    'methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'CH4',
    'nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent':'HF3',
    'nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'N2Os',
    'perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent':'PFCs',
    'sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent':'SF6',
    'unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent':'HFC-PFC-mix'
}

In [11]:
# Replacing gases with short forms
for key in gases:
    new_df.replace(key,gases[key],inplace=True)

In [12]:
# Getting all unique gases in new data
new_df['category'].unique()

array(['CO2', 'GHG-CO2', 'GHG', 'HFC', 'CH4', 'HF3', 'N2Os', 'PFCs',
       'SF6', 'HFC-PFC-mix'], dtype=object)

In [13]:
# Old data is not replaced
df['category'].unique()

array(['carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent',
       'greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent',
       'methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent',
       'nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent',
       'sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent',
       'unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent'],
      dtype=object)

In [14]:
countries = new_df['country_or_area'].unique()
countries

array(['Australia', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Canada',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'European Union', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Monaco',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Russian Federation', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom',
       'United States of America'], dtype=object)

In [15]:
cnt = 1
for val in countries:
    new_df.loc[new_df['country_or_area'] == val,['id']] = int(cnt)
    cnt += 1

In [16]:
new_df

               country_or_area  year          value     category    id
0                    Australia  2014  393126.946994          CO2   1.0
1                    Australia  2013  396913.936530          CO2   1.0
2                    Australia  2012  406462.847704          CO2   1.0
3                    Australia  2011  403705.528314          CO2   1.0
4                    Australia  2010  406200.993184          CO2   1.0
...                        ...   ...            ...          ...   ...
8401  United States of America  1994     593.222570  HFC-PFC-mix  43.0
8402  United States of America  1993     586.939752  HFC-PFC-mix  43.0
8403  United States of America  1992     574.414624  HFC-PFC-mix  43.0
8404  United States of America  1991     566.900968  HFC-PFC-mix  43.0
8405  United States of America  1990     293.205663  HFC-PFC-mix  43.0

[8406 rows x 5 columns]

In [17]:
# Name => Table Name
# Index => Here for table index is considered as No as we have added id as a new field
new_df.to_sql(name='co2_emissions',con=engine, if_exists='replace',index=None)

- Inserting data in **co2_emission** table in **coding_assignment** Database